{% extends 'base.html.twig' %}

{% block body %}
    <div class="welcome-box">
        <ul>
            <li><a href = "{{ path('app_login') }}">Sign In</a></li>
            <li><a href = "{{ path('app_register') }}">Make an account</a></li>
        </ul>
    </div>
{% endblock %}
