{% extends 'base.html.twig' %}
{% block body %}
    <style type = "text/css">
        body {
            background-color: black;
        }
    </style>

    <div class="d-flex justify-content-center align-content-center flex-wrap welcome">
        <div class = "p-2"><a href = "{{ path('app_login') }}">Sign In</a></div>
        <div class = "p-2"><a href = "{{ path('app_register') }}">Register</a></div>
    </div>
{% endblock %}
