{% extends 'base.html.twig' %}
{% block body %}
    <style type = "text/css">
        html, body {
            height: 100%;
        }
        body {
            background-image: url("{{ asset('images/welcome.gif') }}");
			background-repeat: no-repeat;
            background-position: center;
			background-size: cover;
        }
    </style>

    <img class = "logotipo-welcome" src = "{{ asset('images/logo.png') }}"/>
    <div class="d-flex justify-content-center align-content-center flex-wrap welcome">
        <div class = "p-2"><a href = "{{ path('app_login') }}">Sign In</a></div>
        <div class = "p-2"><a href = "{{ path('app_register') }}">Register</a></div>
    </div>
{% endblock %}
