* {
    user-select: none;
    padding: 0;
    margin: 0;
}

.listado  {
    padding: 10px;
}

.listado > div {
    border: 1px solid #212027;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 100%;
}


.listado > div > img {
    transition: all 300ms;
    width: 100%;
}

.listado > div > img:hover {
    transform: scale(1.1);
}

.listado > div > p {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 4px 0;
    z-index: 2;
}

@media (min-width: 420px) {
    .listado > div {
        width: 400px;
    }
}