body,html {
    background-image: url('../images/background.gif');
    background-blend-mode: screen;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

main {
    top: 0; right: 0; bottom: 0; left: 0;
    position: absolute;
    margin: auto;
}