@import 'bounce-effects.css';

* {
    user-select: none;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #212027;
    background-image: url("../images/welcome.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Welcome */

.welcome {
    max-width: 500px;
    margin: auto;
    height: 100%;
}

.welcome > img {
    animation: bounce 1300ms;
}

.welcome > div {
    font-family: 'Courier New', Courier, monospace;
    transition: all 300ms;
    text-align: center;
    border-radius: 3px;
    border: 1px solid;
    font-size: 1.2em;
    flex: 0 1 360px;
    margin: 10px;
}

.welcome > div:first-of-type {
    border-color: white;
    margin-top: 7px;
    color: white;
}

.welcome > div:last-of-type {
    border-color: #DADA06;
    color: #DADA06;
}

.welcome > div:first-of-type:hover {
    background-color: white;
    transform: scale(1.06);
    color: black;
}

.welcome > div:last-of-type:hover {
    background-color: #DADA06;
    transform: scale(1.06);
    color: black;
}
