<header class = "d-flex align-items-center justify-content-between flex-wrap">

    <a href ="{{ path('games') }}"><img src = "{{ asset('images/logo.png') }}" /></a>

    <label for = "menu"><img src = "{{ asset('images/menu-icon.png') }}" /></label>
    <input type = "checkbox" id = "menu">

    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href ="{{ path('easyadmin') }}"><span>Admin HK</span></a>
        {% endif %}

        <a href ="{{ path('games') }}">Game Hub</a>

        <a href ="{{ path('settings') }}">Settings</a>
        
        <a href ="{{ path('app_logout') }}">Sign Out</a>
    </nav>

</header>